<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>Contact</h3>
            <p>Le Loren Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Loren Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux
                de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à
                la vente de feuilles.</p>
        </div>
    </div>
</div>
